<mat-card class="download-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ download.title }}</mat-card-title>
      <div>
        <mat-progress-spinner [mode]="modeSpin" [value]="value"></mat-progress-spinner>
        <div style="position:relative; top: -60px; left: 30px; width: fit-content;">
          {{value | number : '.0-2'}}%
        </div>
      </div>
      <mat-card-subtitle><br/></mat-card-subtitle>
      <mat-card-subtitle>Seeders/Leachers : {{ download.seeders }}/{{ download.peers }}</mat-card-subtitle>
      <mat-card-subtitle>{{ download.uploadSpeed | byteFormat : true }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>{{ download.sizeDownloaded | byteFormat : false }} /{{ download.size | byteFormat : false }}</p>
  </mat-card-content>
  <br>
  <mat-progress-bar [mode]="mode" [value]="value"></mat-progress-bar>
</mat-card>
