<body>
<mat-toolbar color="primary">
    <span>{{ title }}</span>
    <ul>
      <li>
        <a href="http://oracle.fonkio.fr.nf:5055/" target="_blank" rel="noopener noreferrer">
          <button mat-flat-button color="primary">Overseerr <mat-icon>launch</mat-icon></button>
        </a>
      </li>
      <li>
        <a href="http://oracle.fonkio.fr.nf:8989/" target="_blank" rel="noopener noreferrer">
          <button mat-flat-button color="primary">Sonarr <mat-icon>launch</mat-icon></button>
        </a>
      </li>
      <li>
        <a href="http://oracle.fonkio.fr.nf:7878/" target="_blank" rel="noopener noreferrer">
          <button mat-flat-button color="primary">Radarr <mat-icon>launch</mat-icon></button>
        </a>
      </li>
      <li>
        <a href="https://app.plex.tv/desktop/#!/login" target="_blank" rel="noopener noreferrer">
          <button mat-flat-button color="primary">Plex <mat-icon>launch</mat-icon></button>
        </a>
      </li>
    </ul>
    
</mat-toolbar>
  <app-downloads></app-downloads>
</body>

