<mat-tab-group *ngIf="!isLoading && !isError">
    <mat-tab>
        <ng-template mat-tab-label>
            <span [matBadge]="downloadsInProgress.length" matBadgeOverlap="false">En cours</span>
        </ng-template>
        <app-download-item *ngFor="let download of downloadsInProgress" [download]="download"></app-download-item>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span [matBadge]="downloadsCompleted.length" matBadgeOverlap="false">Terminés</span>
        </ng-template>
        <app-download-item *ngFor="let download of downloadsCompleted" [download]="download"></app-download-item>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span [matBadge]="downloadsStopped.length" matBadgeOverlap="false">Arrêtés</span>
        </ng-template>
        <app-download-item *ngFor="let download of downloadsStopped" [download]="download"></app-download-item>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span [matBadge]="downloadsOther.length" matBadgeOverlap="false">Autres</span>
        </ng-template>
        <app-download-item *ngFor="let download of downloadsOther" [download]="download"></app-download-item>
    </mat-tab>
</mat-tab-group>
<div *ngIf="isLoading">
    <h2>Récupération de la liste des téléchargements</h2>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>  
</div>
<div *ngIf="isError">
    <h3>{{ errorMessage }}</h3>
</div>



